{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:promise/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "import",
    "jest",
    "promise"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/destructuring-assignment": 0
  },
  "globals": {
    "window": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack.resolve.js"
      }
    }
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
