function isUserCreateValid(user) {
  return user.roles.size() == 1
      && (user.roles.mentor || user.roles.teacher)
      && user.fullName is string
      && user.email is string
      && user.phone is string;
}

service cloud.firestore {
  match /databases/{database}/documents {
    function getUserRoles(userId) {
      return get(/database/$(database)/documents/users/$(userId)).data.roles;
    }

    match /users/{userId} {
      allow create: if request.auth.uid == userId && isUserCreateValid(request.resource.data);
      allow read: if request.auth.uid == userId || getUserRoles(request.auth.uid).admin;
      allow update: if false;
      allow delete: if false;
      allow list: if getUserRoles(request.auth.uid).admin == true;
    }
  }
}
